# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science Tools
* Make a few examples of evaluating arithmetic expressions in python
* Make ordered and unorderer lists using markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| VS Code            |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by
200/60

3.3333333333333335

## Author
Juan Pablo Guzm√°n